body{
    min-width: 800px;
}

.container{
    width: 100%;
    height: 200px;
    background-color: blue;
    margin-bottom: 50px;
    padding: 5px;
}
.block{
    width: 100px;
    height: 50px;
    background-color: green;
    border: 1px solid black;
}
.first .left {
    float: left;
    margin-top: 25px;
}
.first .right {
    float: right;
    margin-top: 25px;
}

.second .left {
    float: left;
    margin-top: 25px;
}
.second .right{
    float: right;
    margin-left: 5px;
    margin-top: 25px;
}


.third .left{
    float: left;
    margin-right: 5px;
    margin-top: 25px;
}
.third .right {
    float: right;
    margin-left: 5px;
    margin-top: 25px;
}


.right .small-top{
    margin-top: 25px;
    float: right;
}

.right .small-bottom{
    margin-top: 85px;
    margin-right: -101px;
    float: right;
}

.block-big {
    height: 110px;
    width: 110px;
    background-color: green;
    border: 1px solid black;
}

.right .block-big {
    margin-top: 25px;
    margin-right:5px;
    float: right;
}

.small {
    margin: 0 auto 5px;
    width: 240px;
    height: calc(120px + 10px + 50px);
    top: calc(50% - (120px + 10px + 50px) / 2);
    left: calc(50% - 240px / 2);
}
.small .block-big {
    margin-top: 25px;
    margin-right:10px;
    float: right;
}
.small .small-bottom{
    margin-top: 85px;
    margin-right: -101px;
    float: right;
}
.small .small-top{
    margin-top: 25px;
    float: right;
}


